langchain
langgraph
langchain-core
langchain-community
langchain-ollama
dotenv
langchain_openai
langchain_groq
wikipedia
arxiv
langgraph-cli[inmem]
faiss-cpu
pymupdf
streamlit
pydantic
mysql-connector-python
transformers
chromadb
torch
cohere
ollama
langchain_openai
ollama-llm
pypdf